h2 {
    color: #383f5d;
    font-size: 36px;
}

p {
    font-size: 16px;
    text-align: justify;
}

h4 {
    text-align: center;
}

body {
    max-width: 60%;
    margin: 45px auto 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
