<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Title{% endblock %}</title>
    <link
      rel="stylesheet"
      ,
      href="{{url_for('static', filename='css/bootstrap.css')}}"
    />
  </head>

  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="{{url_for('static', filename='images/logo.png')}}"
            alt="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/aboutus">About Us</a>
            <a class="nav-link" href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
  </body>
</html>
