<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/normalize.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />

    <link
      rel="icon"
      type="image/png"
      href="{{url_for('static', filename='images/Noodles.png')}}"
    />

    <title>SNEK</title>
  </head>
  <body>
    <div class="header">
      <div class="brand">
        <img
          src="{{url_for('static', filename='images/Noodles.png')}}"
          alt="logo"
        />
        <a href="/">SNEK</a>
      </div>
      <div class="nav">
        <a href="#">Comments</a>|
        <a href="#">Leaderboards</a>|
        <a target="_blank" href="https://github.com/Tiny-Mushroom">GitHub</a>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
